form{
    border: 3px solid #f1f1f1;
}

.ratingCompletePage{
    background-color: lightgray;
    height:100vh;
}

.ratingPage{
    background-color: white;
    text-align: center;
    border: 3px solid #f1f1f1;
    width:600px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
}

.ratingHeader{
    text-align: center;
}


input[type=text], input[type=password] {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}




.registerButton ,input[type=submit]{
    background-color: #C02D1A;
    color: white;
    border: none;
    cursor: pointer;
    width: 15%;
    margin-left: 13px;
}


button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}


span.psw {
    float: right;
    padding-top: 16px;
}

